<main class="container__main">

  <h1>Find repository</h1>

  <section class="container__search">
    <input
      type="text"
      [(ngModel)]="inputValue"
      placeholder="Type here"
      name="search"
    />
    <button class="btn__search" (click)="search()">Search</button>
  </section>

  <section *ngIf="totalResults">

  <section class="container__repositories">
    <ul class="repositories">
      <h3>{{ totalResults }}</h3>
      <li *ngFor="let repositorio of repositories">
        <div class="repositorie_icon__container">
          <img src="../../assets/img/repository.svg" alt="repositorie">
          <a href="{{ repositorio.html_url }}" target="_blank">{{
            repositorio.full_name
          }}</a>
        </div>
        <div class="container__description_stacks">

          <p>{{ repositorio.description }}</p>
          <p>{{ repositorio.topics.join(" ") }}</p>
        </div>
        <div class="statics">
          <img src="../../assets/img/star.svg" alt="star">
          <p>{{ repositorio.stargazers_count }}</p>
          <p>{{ repositorio.language }}</p>
          <p>issues {{ repositorio.open_issues }}</p>
        </div>
      </li>
    </ul>
  </section>

  <section class="container__btn_prev_next">
    <span class="container__previous" (click)="previous()">
      <img src="../../assets/img/arrow_back.svg" alt="previous">
      <button>Previous</button>
    </span>
    <p>{{ count }}</p>
    <span class="container__next" (click)="next()">
      <button>Next</button>
      <img src="../../assets/img/arrow_forward.svg" alt="next">
    </span>
  </section>
  </section>
</main>
